@charset "UTF-8";

#form{
    width: 1100px;
    margin: 0 auto;
}


.hbspt-form *{
    box-sizing: border-box;
    font-size: 18px;
  }
  .hbspt-form{
      background: #FFF;
      width:100%;
      padding-top: 2px;
      padding-bottom: 30px;
    }

    .hs-form fieldset {
      max-width: none!important;
      }



  .hbspt-form .hs-form-field{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  .hbspt-form .hs_lastname{width: 50%;}
  .hbspt-form .hs_firstname{width: 50%;}
  .hbspt-form label{
    display: block;
    margin-bottom: 7px;
      text-align: left;
      color: #333333;
  }

  .hbspt-form .hs-form-required .required-txt{
      display: inline-block;
      font-style: normal;
      line-height: .64em;
      padding: 3px 10px;
      margin: .1em 1em;
      font-size: 14px;
      background: #bd0029;
      color: rgb(255, 255, 255);
  }
  .hbspt-form .inputs-list{
    width: 100%;
  }
  .hbspt-form .inputs-list li{
    display: inline-block;
    margin-right: 1em;
    text-align: center;
  }
  .hbspt-form input[type="text"],
  .hbspt-form input[type="emails"],
  .hbspt-form input[type="tel"]{
    width: 100%!important;
    height: auto;
    margin: 0;
    padding: 13px;
    background-color: #f6f6f6;
    border-radius: 10px;
    color: #333;
    outline: none;
    font-size: 14px;
    line-height: 1.8;
  }
  .hbspt-form textarea{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 13px;
    background-color: #f4f4f4;
    border-radius: 2px;
    color: #333;
    outline: none;
    font-size: 14px;
    line-height: 1.8;
  }
  .hbspt-form input[type="radio"],
  .hbspt-form input[type="checkbox"]{
    margin-right: 0.5em;
    cursor: pointer;
  }
  
  .hbspt-form .hs-dateinput input{
    width: 10em!important;
  }
  
  .hbspt-form .hs-fieldtype-select select.hs-input{
    /* width: auto!important; */
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 5px;
    height: 50px;
  }

  .hbspt-form input[type="radio"]+span,
  .hbspt-form input[type="checkbox"]+span{
    color:rgba(51,51,51,.6);
    vertical-align: middle;
    cursor: pointer;
  }
  .hbspt-form input[type="text"]:focus,
  .hbspt-form input[type="email"]:focus,
  .hbspt-form input[type="tel"]:focus{
    color: #333;
    background-color: #f6f6f6;
    border-color: #d3d3d3;
  }
  .hbspt-form textarea:focus{
    color: #333;
    background-color: #fff;
    border-color: #d3d3d3;
  }
  .hbspt-form input[type="radio"]:checked+span,
  .hbspt-form input[type="checkbox"]:checked+span{
    color: #005cc8;
    cursor: pointer;
  }

  .hbspt-form .hs-error-msgs li{
    display: inline-block;
  }
  .hbspt-form .hs-error-msg{
    color: #e90133;
    line-height: 1.8;
    font-size: 14px;
  }
  .hbspt-form .legal-consent-container{
    text-align: center;
    width: 100%;
  }
  .hbspt-form input[type="submit"]{
    width: 320px;
    height: 95px;
    padding: 0;
    background: #f19f00;
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 1.6em!important;
    color: white!important;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin: 30px 0 60px;

  }

  .hbspt-form input[type="submit"]:hover{
    filter:brightness(90%);
  }




  @supports (-ms-ime-align:auto) {
    @media print{
      .hbspt-form input[type="submit"]{
        color: #000!important;
      }
    }
  }
  .hbspt-form input[type="submit"]:hover{
    opacity: 0.5;
  }
  .hbspt-form .legal-consent-container li{
    display: inline-block;
  }
  .hbspt-form .legal-consent-container input{
    float: none!important;
    display: inline-block;
    margin: 0;
    padding: 13px;
    background-color: hsla(0,0%,39%,.1);
    border-color: rgba(0,0,0,.3);
    border-radius: 2px;
    color: #333;
    outline: none;
    box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.3);
    font-size: 16px;
    line-height: 1.8;
  }
  .hbspt-form .legal-consent-container label>span{
    display: inline-block;
    margin-left: 0.5em;
  }
  .hbspt-form .legal-consent-container .policy-txt{
    margin: 1em 0;
  }
  .hbspt-form .legal-consent-container a{
    color: #bd0029;
    text-decoration: none;
  }
  .hbspt-form .legal-consent-container .hs-error-msgs label{
    color: #bd0029;
  }
  .hbspt-form .hs_submit{
    width: 100%;
    text-align: center;
  }
  .hbspt-form .hs_error_rollup{
    width: 100%;
    margin: 10px 10px 30px 10px;
    padding: 5px 10px;
    border: 2px solid #bd0029;
    text-align: center;
  }
  @media screen and (max-width: 767px) {
    .hbspt-form .hs_error_rollup{
      width: auto;
    }
  }
  .hbspt-form .hs_error_rollup li{
    color: #bd0029;
    line-height: 1.8;
    text-align: center;
  }
  
  .hbspt-form fieldset.form-columns-2:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0;
  }
  
  .hbspt-form fieldset.form-columns-3:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0;
  }